In [ ]:
import pandas as pd

df = pd.read_excel('ProjectSheetStates1 (1).xlsx')
print(df.head(20))
jk_index = 13
ladakh_index = 17

In [ ]:
summed_values = df.iloc[jk_index, 1:] + df.iloc[ladakh_index, 1:]

new_row = pd.Series(
    ['JammuKashmir+Ladakh'] + summed_values.tolist(),
    index=df.columns
)

In [ ]:
df_new = df.drop(index=[jk_index, ladakh_index])
df_new = pd.concat([df_new, pd.DataFrame([new_row])], ignore_index=True)
df_new.to_excel('ProjectSheetStates_updated.xlsx', index=False)

In [ ]:
print("âœ… New row added and original rows removed! File saved as ProjectSheetStates_updated.xlsx")
df_new["TotalCrime"] = df_new[[
    "Murders in 2021",
    "Rape Victims",
    "Theft",
    "Attempt to Commit Murder",
    "Dacoity",
    "Kidnapping & Abduction",
    "Grievous Hurt / Assault (Total Hurt)",
    "Burglary / House Breaking",
    "Cybercrimes (Total Registered)",
    "Arson"
]].sum(axis=1)

In [ ]:
df_new

,States/UT's,Estimated Population (2022),Murders in 2021,Column 1,Rape Victims,Theft,Attempt to Commit Murder,Dacoity,Kidnapping & Abduction,Grievous Hurt / Assault (Total Hurt),Burglary / House Breaking,Cybercrimes (Total Registered),Arson,TotalCrime
0,Andaman and Nicobar Islands,627000,16,27,5,71,1,7,37,7,16,8,3,171
1,Andhra Pradesh,53200000,1029,1023,595,16151,227,10,1228,22176,1188,1875,63,44542
2,Arunachal Pradesh,1392000,92,84,16,288,5,6,16,263,21,47,0,754
3,Assam,36493000,1185,1387,232,10873,163,15,3369,2056,285,4846,12,23036
4,Bihar,129000000,2796,1733,2036,18873,1260,21,5309,4057,474,1413,65,36304
5,Chandigarh,2301000,18,37,21,2525,21,0,12,22,181,15,0,2815
6,Chhattisgarh,31100000,1159,963,316,10480,49,18,1498,3745,205,352,21,17843
7,Dadra and Nagar Haveli and Daman and Diu,586000,15,13,1,221,5,0,15,18,4,5,5,289
8,Delhi,25162000,454,454,2284,198133,15,13,5475,2525,1760,356,23,211038
9,Goa,2262000,40,34,20,1311,10,0,37,228,66,36,3,1751
10,Gujarat,70700000,982,793,431,22668,229,10,2238,3822,256,1536,35,32207
11,Haryana,29720000,1170,1787,368,11623,335,10,3251,4460,649,622,24,22512
12,Himachal Pradesh,7408000,77,139,19,1114,12,12,27,293,32,141,8,1735
13,Jharkhand,36018000,1327,1327,234,8350,75,6,1739,2668,178,530,12,15119
14,Karnataka,65295000,1280,1399,355,18342,285,26,1977,13006,1061,8132,16,44480
15,Kerala,34970000,263,215,40,10489,99,4,230,3466,390,1486,0,16467
16,Lakshadweep,86000,0,0,0,13,0,0,0,0,0,1,0,14
17,Madhya Pradesh,85000000,2729,2947,1180,48739,659,80,8026,24960,936,2341,31,89681
18,Maharashtra,126000000,2330,2593,1114,49384,899,55,2228,13746,1607,5500,16,76879
19,Manipur,3180000,56,55,11,213,26,0,92,11,21,88,24,542
20,Meghalaya,3250000,104,81,22,237,11,0,133,119,24,81,8,739
21,Mizoram,1280000,32,23,2,225,2,0,29,207,7,23,2,529
22,Nagaland,2190000,21,18,2,245,7,2,20,37,3,18,1,356
23,Odisha,47000000,1379,1354,618,10847,50,25,1793,6801,298,1510,57,23378
24,Puducherry,1500000,26,23,3,266,10,0,14,65,14,0,0,398
25,Punjab,30700000,803,803,261,14942,150,27,1189,3121,328,551,25,21397
26,Rajasthan,79000000,1770,6337,1133,26112,344,35,7203,10740,1072,1504,13,49926
27,Sikkim,680000,9,12,1,72,1,1,12,3,0,0,0,99
28,Tamil Nadu,78000000,1691,1607,567,19005,154,22,1293,3742,623,1076,14,28187
29,Telangana,38000000,870,741,300,13767,227,19,1574,2367,433,10303,64,29924
30,Tripura,4000000,100,99,11,404,16,12,103,193,25,24,24,912
31,Uttar Pradesh,241000000,3717,1770,378,30735,1691,11,10024,12028,1698,8829,87,69198
32,Uttarakhand,11500000,113,294,42,1424,39,11,335,465,61,718,47,3255
33,West Bengal,100000000,1812,1180,875,23191,447,33,4003,6031,1186,513,22,38113
34,JammuKashmir+Ladakh,13935010,105,284,43,2528,57,5,878,564,176,159,19,4534

In [ ]:
city_name = input("Enter the city/state name you want to check crimes for: ").strip()

result = df_new[df_new['States/UT\'s'].str.strip().str.lower() == city_name.lower()]

if result.empty:
    print("âŒ City/State not found!")
else:
    print(f"âœ… Crime data for {city_name}:")
    print(result)

Enter the city/state name you want to check crimes for: Rajasthan
âœ… Crime data for Rajasthan:
   States/UT's  Estimated Population (2022)  Murders in 2021  Column 1  \
26   Rajasthan                     79000000             1770      6337

    Rape Victims  Theft  Attempt to Commit Murder  Dacoity  \
26          1133  26112                       344       35

    Kidnapping & Abduction  Grievous Hurt / Assault (Total Hurt)  \
26                    7203                                 10740

    Burglary / House Breaking  Cybercrimes (Total Registered)  Arson  \
26                       1072                            1504     13

    TotalCrime
26       49926